body {
  padding: 20px !important;
}

.sb {
  &-overflow {
    height: 255px;
    background: #eee;
    padding: 10px;
    position: relative;

    &-hidden {
      overflow: hidden;
    }

    &-scroll {
      overflow-y: scroll;
    }
  }
}
